*{
    padding: 0;
    margin: 0;
  }
:root{
    --red: #e60000;
    --green: rgb(11, 191, 11);
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: black;
    padding: 40px;
    box-shadow: 0 4px 5px rgb(126, 126, 126);
}
.header ul{
    background-color: var(--red);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 70px;
}
.header ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.header ul li:hover{
    background-color: white;
    color: var(--red);
}
.header ul li:hover a{
    color: var(--red);
}
.header ul li:not(.contact){
    border-right: 2px solid black;
}
.header ul li a{
    transition: .5s;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.headerHidden{
    display: none;
}
@media only screen and (max-width:775px){
    .headerHidden{
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headerHidden  span{
        width: 10px;
        height: 10px;
        background-color: white;
    }
    /* .headerHidden::before{
        position: absolute;
        content: "";
        width: 90%;
        height: 30px;
        background-color: white;
    } */
    .header ul{
        display: none;
    }
  }