* {
  padding: 0;
  margin: 0;
}
:root {
  --red: #e60000;
  --green: #0bbf0b;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.landingContent {
  padding: 5vw;
}
.landing {
  padding: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 25px rgb(227, 109, 109);
  position: relative;
}
body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--red);
  clip-path: circle(500px at 100% 100px);
  z-index: -1;
}
.welcomeText {
  /* box-shadow: -3px 0 8px black; */
  /* overflow: hidden; */
  padding-left: 40px;
  position: relative;
  /* background-color: yellow; */
}
.welcomeText::before {
  position: absolute;
  content: "";
  width: 500px;
  height: 98%;
  left: -2px;
  z-index: -1;
  border-left: 1px solid black;
  filter: blur(2px);
}
.welcomeText span {
  color: var(--red);
}
.welcomeText p {
  letter-spacing: 3px;
  /* font-weight: bold; */
}
.welcomeText .welcome {
  letter-spacing: 5px;
  font-size: 3.5vw;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
}
.welcomeText ul {
  list-style-type: none;
  margin: 20px;
  margin-left: 0;
  display: flex;
  gap: 20px;
}
.welcomeText ul li p:not(.price) {
  border: 1px solid black;
  padding: 8px 10px;
  border-radius: 3vw;
  font-weight: bold;
}
.welcomeText ul li .Spicy {
  background-color: var(--red);
  color: white;
  border-color: var(--red);
  transition: 0.5s;
}
.welcomeText ul li .Spicy {
  background-color: var(--red);
  color: white;
  border-color: var(--red);
  transition: 0.5s;
}
.welcomeText ul li .Mild,
.Hot {
  transition: 0.5s;
}
.welcomeText ul li .Mild:hover {
  background-color: var(--red);
  color: white;
}
.welcomeText ul li .Hot:hover {
  background-color: var(--red);
  color: white;
}
/* .welcomeText ul li .Hot:hover .Spicy{
  background-color: white;
} */
.addToCart ul:not(.delList) {
  display: flex;
  align-items: center;
}
.addToCartText {
  background-color: black;
  color: white;
  transition: 0.5s;
}
.addToCartText:hover {
  background-color: white;
  color: black;
}
.delList {
  height: 40px;
}
.price {
  color: var(--green);
  font-weight: bold;
}
.addToCart ul li del {
  height: 260px;
  color: var(--red);
}
.burgerTypes {
  margin-top: 80px;
}
.burgerTypes ul {
  list-style-type: none;
}
.burgerTypes ul li img {
  width: 60px;
  transition: 0.3s;
}
.burgerTypes ul li img:hover {
  transform: scale(1.3);
}
.burgerAndIntro {
  display: flex;
  align-items: end;
}
@media only screen and (max-width: 990px) {
  body::before {
    clip-path: circle(0);
  }
  .landing {
    text-align: center;
  }
  .welcomeText {
    padding: 0;
  }
  .welcomeText .welcome {
    font-size: 1.5em;
  }
  .welcomeText::before {
    content: none;
  }
  .welcomeText ul {
    gap: 10px;
  }
  .addToCartText {
    padding: 2px;
  }
  .hideBurgerFirst {
    display: block;
  }
  .hideBurgerLast {
    display: none;
  }
  .welcomeText ul {
    justify-content: center;
  }
  .mainImage img {
    width: 70vw;
  }
}

@media only screen and (max-width: 775px) {
  .mainImage img {
    width: 70vw;
  }
  .burgerAndIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=LandingPage.css.map */
