*{
  padding: 0;
  margin: 0;
}
:root{
  --red: #e60000;
  --green: #0bbf0b;
}
.gridConatiner{
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.menuBurger{
    width: 100%;
}
.burgerNamePrice {
    background-color: var(--red);
    padding: 20px 0;
    box-shadow: 0 5px 8px black;
}
.burgerPriceDiv{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}
#burgerName{
    font-size: 2em;
    text-align: center;
    color: white;
}
#burgerPrice{
    font-size: 2em;
    background-color: var(--green);
    padding: 5px;
    border-radius: 1vw;
    color: black;
    font-weight: 100;
}
.burgerPriceDiv a{
    text-decoration: none;
    color: white;
}