*{
    padding: 0;
    margin: 0;
}
:root{
    --red: #e60000;
    --green: #0bbf0b;
}
.sites ul{
    list-style-type: none;
    margin-right: 20px;
    
}
.sites ul li:not(.twitter){
    margin-bottom: 30px;
}
.sites ul li img{
    width: 25px;
}